@import "./const/navbar/style.css";
@import "./const/footer/style.css";
@import "./const/messages/style.css";
@import "./apps/init/style.css";
@import "./apps/signup/style.css";
@import "./apps/home/style.css";

body {
  background-color: beige;
  padding: 0;
  font-family: 'Montserrat', cursive;
}

.app {
  background-color: white;
  margin: 0 auto;
}

@media screen and (min-width: 1150px) {

}

@media screen and (min-width: 850px) {

}

@media screen and (min-width: 450px) {

}

@media screen and (max-width: 450px) {

}
